<h2>{{ 'VENUE.TITLE' | translate }}</h2>

<p>{{ 'VENUE.MEMI_ADDRESS' | translate }}</p>
<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1393.5824996893984!2d-66.14668286106236!3d-17.393585856144433!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5eb3ed44260b74a1!2sCarreras+de+INFORM%C3%81TICA+y+SISTEMAS+UMSS!5e0!3m2!1sen!2sbo!4v1467203475465" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<br/>
<h5>{{ 'VENUE.HOTELS' | translate }}</h5>
<p>{{ 'VENUE.HOTELS_DESCRIPTION' | translate }}</p>

<h5>{{ 'VENUE.TRANSPORT' | translate }}</h5>
<p>{{ 'VENUE.TRANSPORT_DESCRIPTION' | translate }}</p>