<h2>{{ 'COMITTEE.TITLE' | translate }}</h2>
<div class="row">
  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card-block">
      <h4 class="card-title">Luc Frabresse</h4>
      <h6 class="card-subtitle text-muted">{{'COMITTEE.FRANCE' | translate}}</h6>
    </div>
    <div class="card-block">
      <div class="col-xs-12 col-sm-12 col-md-3 col-md-3 text-xs-center">
        <img class="speaker-image img-circle" src="speakers/luc.png" alt="Card image">
      </div>
      <p class="card-text text-justify" [innerHTML]="'COMITTEE.GUEST_1_DESCRIPTION' | translate"></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card-block">
      <h4 class="card-title">Juraj Kubelka</h4>
      <h6 class="card-subtitle text-muted">{{'COMITTEE.CZECH_REPUBLIC' | translate}}</h6>
    </div>
    <div class="card-block">
      <div class="col-xs-12 col-sm-12 col-md-3 col-md-3 text-xs-center">
        <img class="speaker-image img-circle" src="speakers/juraj.png" alt="Card image">
      </div>
      <p class="card-text text-justify" [innerHTML]="'COMITTEE.GUEST_2_DESCRIPTION' | translate"></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card-block">
      <h4 class="card-title">Vanessa Peña Araya</h4>
      <h6 class="card-subtitle text-muted">Chile</h6>
    </div>
    <div class="card-block">
      <div class="col-xs-12 col-sm-12 col-md-3 col-md-3 text-xs-center">
        <img class="speaker-image img-circle" src="speakers/vanessa.jpg" alt="Card image">
      </div>
      <p class="card-text text-justify" [innerHTML]="'COMITTEE.GUEST_3_DESCRIPTION' | translate"></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card-block">
      <h4 class="card-title">Alejandro Infante</h4>
      <h6 class="card-subtitle text-muted">Chile</h6>
    </div>
    <div class="card-block">
      <div class="col-xs-12 col-sm-12 col-md-3 col-md-3 text-xs-center">
        <img class="img-circle speaker-image" src="speakers/alejandro.jpg" alt="Card image">
      </div>
      <p class="card-text text-justify" [innerHTML]="'COMITTEE.GUEST_4_DESCRIPTION' | translate"></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card-block">
      <h4 class="card-title">Jocelyn Simmonds</h4>
      <h6 class="card-subtitle text-muted">Chile</h6>
    </div>
    <div class="card-block">
      <div class="col-xs-12 col-sm-12 col-md-3 col-md-3 text-xs-center">
        <img class="speaker-image img-circle" src="speakers/jocelyn.jpg" alt="Card image">
      </div>
      <p class="card-text text-justify" [innerHTML]="'COMITTEE.GUEST_5_DESCRIPTION' | translate"></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card-block">
      <h4 class="card-title">Juan Pablo Sandoval Alcocer</h4>
      <h6 class="card-subtitle text-muted">Bolivia</h6>
    </div>
    <div class="card-block">
      <div class="col-xs-12 col-sm-12 col-md-3 col-md-3 text-xs-center">
        <img class="speaker-image img-circle" src="speakers/juampi.jpg" alt="Card image">
      </div>
      <p class="card-text text-justify" [innerHTML]="'COMITTEE.GUEST_6_DESCRIPTION' | translate"></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card-block">
      <h4 class="card-title">Yasett Acurana</h4>
      <h6 class="card-subtitle text-muted">Bolivia</h6>
    </div>
    <div class="card-block">
      <div class="col-xs-12 col-sm-12 col-md-3 col-md-3 text-xs-center">
        <img class="speaker-image  img-circle" src="speakers/yasett.jpg" alt="Card image">
      </div>
      <p class="card-text text-justify" [innerHTML]="'COMITTEE.GUEST_7_DESCRIPTION' | translate"></p>
    </div>
  </div>
</div>