<h2>{{"REGISTRATION.TITLE" | translate}}</h2>
<p [innerHTML]="'REGISTRATION.DESCRIPTION' | translate"></p>

<h5>{{"REGISTRATION.PRICES" | translate}}</h5>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>{{"REGISTRATION.PRICES_SHEET.STUDENT" | translate}}</th>
      <th>{{"REGISTRATION.PRICES_SHEET.PROFESIONAL" | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{"REGISTRATION.PRICES_SHEET.PRICE_1" | translate}}</td>
      <td>200 Bs - {{"REGISTRATION.PRICES_SHEET.ALL" | translate}}</td>
      <td>200 Bs - {{"REGISTRATION.PRICES_SHEET.EACH" | translate}}</td>
    </tr>
    <tr>
      <td>{{"REGISTRATION.PRICES_SHEET.PRICE_2" | translate}}</td>
      <td>{{"REGISTRATION.PRICES_SHEET.FREE" | translate}}</td>
      <td>{{"REGISTRATION.PRICES_SHEET.FREE" | translate}}</td>
    </tr>
  </tbody>
</table>

<!--p>{{"REGISTRATION.REGISTERED_PEOPLE" | translate}}</p>
<p [innerHTML]="'REGISTRATION.FORM' | translate"></p>
<p>{{"REGISTRATION.QUESTIONS" | translate}}</p-->
<p [innerHTML]="'REGISTRATION.SCHOLARSHIPS' | translate"></p>


