<h2>{{'SUBMISSION.TITLE' | translate}}</h2>

<div class="text-justify">
    <h5 [innerHTML]="'SUBMISSION.GOAL_AND_SCOPE' | translate"></h5>
    <p [innerHTML]="'SUBMISSION.GOAL_AND_SCOPE_DESCRIPTION' | translate"></p>

    <h5>{{'SUBMISSION.TOPICS' | translate}}</h5>
    <p [innerHTML]="'SUBMISSION.TOPICS_DESCRIPTION' | translate"></p>
    <div [innerHTML]="'SUBMISSION.TOPICS_LIST' | translate"></div>

    <h5>{{'SUBMISSION.IMPORTANT_DATES' | translate}}</h5>
    <ul>
        <li [innerHTML]="'SUBMISSION.IMPORTANT_DATES_1' | translate"></li>
        <li [innerHTML]="'SUBMISSION.IMPORTANT_DATES_2' | translate"></li>
        <li [innerHTML]="'SUBMISSION.IMPORTANT_DATES_3' | translate"></li>
    </ul>

    <h5>{{'SUBMISSION.SUBMISSION' | translate}}</h5>
    <div [innerHTML]="'SUBMISSION.SUBMISSION_DESCRIPTION' | translate"></div>

    <h5>{{'SUBMISSION.COMITTEE' | translate}}</h5>
    <div [innerHTML]="'SUBMISSION.COMITTEE_DESCRIPTION' | translate"></div>


    <h5>{{'SUBMISSION.STUDENTS' | translate}}</h5>
    <p [innerHTML]="'SUBMISSION.SHOW_PROJECT_DESCRIPTION' | translate"></p>

    <h5>{{'SUBMISSION.PANELS' | translate}}</h5>
    <p [innerHTML]="'SUBMISSION.PANELS_0' | translate"></p>
    <p [innerHTML]="'SUBMISSION.PANELS_1' | translate"></p>
</div>
